<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gtfo.einfachkochen" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity

            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- defines the result activity, that displays the converted currency-->
        <activity
            android:name=".RecipeList"
            android:label="Rezept Liste">
        </activity>

        <activity android:name=".Recipe"
            android:label="Rezept Details">
        </activity>

        <activity android:name=".Favourites"
            android:label="Favourites">
        </activity>

        <activity android:name=".Shoppinglist"
            android:label="Einkaufsliste">
        </activity>

    </application>
</manifest>
